section.page

  div#page-error.container.centered

    div.logo(id="model_builder-logo" data-hook="model_builder-logo")
      img(src=this.logoPath)

    div.presentation-header

      h1=this.title

    div

      h5=errMsg