local_data/
node_modules/
.power_users
*.bundle.js
model_builder/dist/model_builder-quickstart.html
model_builder/dist/model_builder-file-browser.html
model_builder/dist/model_builder-model-editor.html
model_builder/dist/model_builder-workflow-manager.html
model_builder/dist/model_builder-workflow-selection.html
model_builder/dist/model_builder-project-manager.html
model_builder/dist/multiple-plots-page.html
model_builder/dist/model_builder-domain-editor.html
model_builder/dist/model_builder-loading-page.html
model_builder/dist/model_builder-quick-start.html
model_builder/dist/model_builder-user-home.html
model_builder/dist/model_builder-example-library.html
model_builder/dist/model_builder-user-settings.html
jupyterhub/templates/page.html
jupyterhub/templates/model_builder-home.html
jupyterhub/templates/model_builder-job-presentation.html
jupyterhub/templates/model_builder-model-presentation.html
jupyterhub/templates/model_builder-notebook-presentation.html
jupyterhub/templates/multiple-plots-page.html

*.swp
*.swo
package-lock.json
.DS_Store
*.lock
*.sqlite
jupyterhub_cookie_secret
jupyterhub-proxy.pid
__pycache__
userlist
dist/*
*.egg-info/
.vscode/
.proxies.txt
venv/
